body{
	color: orange;
	background: #FFFFEE;
	background-size:100% auto;
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS";
}
#titile{
	margin-top: 0;
	margin: 0 auto;
}
header{
	background:#66FFCC;
	background-size:100% auto;
	margin: 0;
	height: 100px;
}
.foot{
	margin-top: 0;
}
footer{
	background:#66FFCC;
	width:100%;
 	height: 50px;
  	bottom: 0;
}
.foot2{
	margin-top: 0;
	background:#66FFCC;
	background-size:100% auto;
	margin: 0;
	width:100%;
 	height: 50px;
  	position: fixed;
  	bottom: 0;
}
/*アンケートフォーム背景*/
.form_back{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.form_back p {
    margin: 0; 
    padding: 0;
}

/*文章を左右に配置*/
@media (min-width: 300px) {
      #parent {
        display: flex;
      }
      #child1 {
        flex-grow: 1;
      }
      #child2 {
        flex-grow: 1;
      }
      
}
/*アンケートフォームボタンデザイン*/
.btn--blue,
a.btn--blue {
  color: #fff;
  background-color: #0080c0;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #fff;
  background: #0080c0;
}

a.btn--radius {
   border-radius: 100vh;
}
